
  <div class="form-group row">
    <div class="col-sm-5">
      <label>Change menu</label>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <select id="menu">
          <option>Kies menu item...</option>
        </select>
       
      </div>
    </div>
  </div>


<script>

</script>