<div class="form-group row">
  <div class="col-sm-5">
    <label class="control-label">Selecteer menu item</label>
  </div>
  <div class="col-sm-5">
    <div class="row">
      <div class="col-3">
        <select id="menu" class="form-control">
          <option disabled>Kies menu item...</option>
        </select>
      </div>
      <div class="col-3">
        <textarea class="form-control" style="display:none;" id="text" />
      </div>
      <div class="col-3"><button class=" btn btn-primary btn-sm">Save</button></div>
     
      

    </div>
  </div>
</div>


<script>
  function makeAjaxCall(url, methodType) {
    var promiseObj = new Promise(function (resolve, reject) {
      var xhr = new XMLHttpRequest();
      xhr.open(methodType, url, true);
      xhr.setRequestHeader("x-api-key", "303d22a4-402b-4d3c-b279-9e81c0480711");
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            console.log("xhr done successfully");
            var resp = "";
            resp = xhr.response;
            resolve(JSON.parse(resp));

          } else {
            reject(xhr.status);
            console.log("xhr failed");
          }
        } else {
          console.log("xhr processing going on");
        }
      }
      console.log("request sent succesfully");

    });
    return promiseObj;
  }

 
</script>