@model UI_MVC.Models.SubplatformViewModel

@using (Html.BeginForm("DeploySubplatform", "Subplatform", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  <div class="form-group row">
    <div class="col-sm-4">
      <label>Deploy new subplatform</label>
    </div>
    <div class="col-sm-6">
      <span>Subplatform name</span>
      @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
      <span>Subplatform url name</span>
      @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
      <span>Subplatform API url</span>
      @Html.EditorFor(model => model.SourceAPI, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <button btn="Submit" class=" btn btn-lg btn-primary">Deploy now</button>
  </div>
}
