.header-container .nav-right .themes .dropdown-menu {
    background-color: transparent !important;
    background: linear-gradient(to top left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
}

.header-container .nav-right .themes .dropdown-menu {
    min-width: 160px;
}

.bgcH-grey-100:hover {
    background-color: transparent !important;
    background: linear-gradient(to top left, rgba(0,0,0,0.25), rgba(0,0,0,0.33));
}

.themes .fsz-sm {
    color: #565a5c !important;
}

.c-grey-800 {
    color: #565a5c !important;
}
