.header-container .nav-right .themes .dropdown-menu {
    background-color: white !important;
}

.header-container .nav-right .themes .dropdown-menu {
    min-width: 160px;
}

.bgcH-grey-100:hover {
    background-color: #f5f5f5 !important;
}

.themes .fsz-sm {
    color: #565a5c !important;
}

.c-grey-800 {
    color: #565a5c !important;
}