@model IEnumerable<PB.BL.Domain.Items.Person>



<ul class="nav-left">
  <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
  <li class="search-box"><a class="search-toggle no-pdd-right" href="javascript:void(0);"><i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i></a></li>
  <li class="search-input" onclick="myFunction()">
    <div class="dropdownSearch">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <div id="myDropdown" class="dropdown-content">



        @foreach (var x in Model)
        {
          <a id="itemref" href='@Url.Action("ItemDetail", "Item", new {id = x.ItemId})'>@x.Name</a>
        }


      </div>
    </div>
  </li>


</ul>


<script defer>
  @*$("#itemref").click(function () {
    window.location.href = '@Url.Action("ItemDetail","Item")/' + $("#itemref").text;
    console.log("click on a");
  });*@
</script>

<script type="text/javascript">
  
  var div = document.getElementById("myDropdown");
  var a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    a[i].style.display = "none";
  }

  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");

  }

  function filterFunction() {
    var ul, li, i;
    var input = document.getElementById("myInput");

    var filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";

      } else {
        a[i].style.display = "none";
      }

    }
    if (!filter) {
      for (i = 0; i < a.length; i++) {
        a[i].style.display = "none";
      }
    }
  }
</script>
