@model IEnumerable<PB.BL.Domain.Items.Item>

<ul class="nav-left">
  <li>
    <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
      <i class="ti-menu"></i>
    </a>
  </li>
  <li class="search-box">
    <a class="search-toggle no-pdd-right" href="javascript:void(0);">
      <i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i>
    </a>
  </li>
  <li class="search-input active" onclick="myFunction()">
    <div class="dropdownSearch">
      <input type="text" style="width: 300px" placeholder="Zoek naar politici, partijen en thema's..." id="myInput" onkeyup="filterFunction()">
      <div id="myDropdown" class="dropdown-content">
        @foreach (var x in Model)
        {
          <a id="itemref" href='@Url.Action("ItemDetail", "Home", new {id = x.ItemId})'>@x.Name</a>
        }
      </div>
    </div>
  </li>
</ul>
<script src="~/Scripts/Search.js"></script>
