@model IEnumerable<PB.BL.Domain.Platform.Tag>

@{
  ViewBag.Title = "FAQ";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styling/FAQ.css" rel="stylesheet"/>
<main class="main-content bgc-grey-100" style="padding:0; margin:0">
  <div id="mainContent" >
    <div id="backgroundfaq">
      <div id="con" class="w-100 h-100">
       
        <div class="col-md-12" style="padding:0; margin:0">
          <div style="margin: 0; padding: 50px 0;" class="masonry-item col-md-12">
            <div class="p-20">
              <h1 class="h1" style="text-align: center; padding-top: 50px;">Frequently Asked Questions </h1>
            </div>
          </div>
          <ol>
            @foreach (var faq in Model)
            {
              <li style="padding-bottom:25px">
                <p>
                  <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
                    @Html.DisplayFor(modelItem => faq.Text)
                  </a>
                </p>
                <div class="collapse" id="collapse1">
                  <div class="card card-body">
                    @Html.DisplayFor(modelItem => faq.Text2)
                  </div>
                </div>
              </li>
            }

          </ol>
        </div>
      </div>
    </div>
  </div>
</main>