@model IEnumerable<PB.BL.Domain.Items.Item>


  
  <li class="search-box"><a class="search-toggle no-pdd-right" href="javascript:void(0);"><i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i></a></li>
  <li class="search-input" onclick="myFunction()">
    <div class="dropdownSearch" style="z-index:99">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <div id="myDropdown" style="z-index:2" class="dropdownSearch-content">



        @foreach (var x in Model)
        {
          <a style="z-index:99;" href="@x.Name">@x.Name</a>
        }


      </div>
    </div>
  </li>


