<div class="row">
    <div class="col-sm-6 col-sm-offset-2" style="margin:auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
            <div class="card wizard-card" data-color="blue" id="wizard">
                <form>
                    <!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->
                    <div class="wizard-header">
                        <h3 class="wizard-title">
                            Creëer jouw grafiek
                        </h3>
                    </div>
                    <div class="wizard-navigation">
                        <ul style="line-height:35px">
                            <li><a href="#location" data-toggle="tab">Item</a></li>
                            <li><a href="#type" data-toggle="tab">Type</a></li>
                            <li><a href="#facilities" data-toggle="tab">Styling</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="location">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Kies eerst je grafiek type en de hoeveelheid data om te vergelijken</h4>
                                </div>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Soort items</label>
                                        <select style="margin-bottom: 5%" id="inputState" class="form-control" name="type">
                                            <option disabled="" selected=""></option>
                                            <option value="1">Persons</option>
                                            <option value="2">Themes</option>
                                            <option value="3">Organisations</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Output</label>
                                        <select name="type" class="form-control">
                                            <option disabled="" selected=""></option>
                                            <option value="1"> Tweet evolution</option>
                                            <option value="2"> Positiviteit</option>
                                            <option value="3"> Trending Mentions </option>
                                            <option value="4"> Trending Hashtags</option>
                                            <option value="5"> Trending Urls</option>
                                            <option value="6"> Retweet </option>
                                            <option value="7"> Sentiment analyse</option>
                                            <option value="...">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <input type="hidden" name="count" value="1" />
                                    <div class="row form-group">


                                        <input autocomplete="on" class=" form-control" id="field1" type="text" placeholder="Type name" />
                                        <button id="b1" class="btn add-more" type="button">+</button>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="hidden" name="count" value="1" />
                                    <div class="row form-group">

                                        <input autocomplete="off" class="input form-control" id="field1" type="text" placeholder="Type name" /><button id="b1" class="btn add-more" type="button">+</button>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="tab-pane" id="type">
                            <h4 class="info-text">Kies je type? </h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have a house.">
                                                <input id="bar" type="radio" name="type" value="BarChart">
                                                <div class="icon">
                                                    <i class="material-icons">insert_chart</i>
                                                </div>
                                                <h6>Bar Chart</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have an appartment">
                                                <input id="pie" type="radio" name="type" value="PieChart">
                                                <div class="icon">
                                                    <i class="material-icons">pie_chart</i>
                                                </div>
                                                <h6>Piechart</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have an appartment">
                                                <input id="line" type="radio" name="type" value="PieChart">
                                                <div class="icon">
                                                    <i class="material-icons">show_chart</i>
                                                </div>
                                                <h6>Linechart</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have an appartment">
                                                <input id="donut" type="radio" name="type" value="PieChart">
                                                <div class="icon">
                                                    <i class="material-icons">donut_small</i>
                                                </div>
                                                <h6>Donutchart</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have an appartment">
                                                <input id="radar" type="radio" name="type" value="PieChart">
                                                <div class="icon">
                                                    <i class="material-icons">track_changes</i>
                                                </div>
                                                <h6>Radarchart</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have an appartment">
                                                <input id="word" type="radio" name="type" value="PieChart">
                                                <div class="icon">
                                                    <i class="material-icons">cloud</i>
                                                </div>
                                                <h6>WordCloud</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="facilities">
                            <h4 class="info-text">Style je element </h4>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Select color set</label>
                                        <select class="form-control">
                                            <option disabled="" selected=""></option>
                                            <option>ColorSet 1</option>
                                            <option>ColorSet 2 </option>
                                            <option>ColorSet 3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Positie van de labels</label>
                                        <select class="form-control">
                                            <option disabled="" selected=""></option>
                                            <option>Links</option>
                                            <option>Rechts</option>
                                            <option>
                                                Boven
                                            </option>
                                            <option>Onder</option>>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Voeg grafiek toe?</label>
                                        <select class="form-control">
                                            <option disabled="" selected=""></option>
                                            <option>Eerst vrije plaats</option>
                                            <option>Random </option>
                                            <option>Na laatste element</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Grootte</label>
                                        <select class="form-control">
                                            <option disabled="" selected=""></option>
                                            <option>Small</option>
                                            <option>Medium</option>
                                            <option>Large</option>
                                            <option>Full Width</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-cancel btn-fill btn-primary btn-wd' name='cancel' value='Cancel' style="background-color: crimson">
                            <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' style="background-color: #00bcd4">
                            <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' style="background-color: #00bcd4" />
                        </div>
                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' style="background-color: #00bcd4" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div> <!-- wizard container -->
    </div>
</div> <!-- row -->