@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/dashboardcss")
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

@section styles{
    <style type="text/css">
        #grid1 {
            <!--
            border: 3px solid black; -->
            padding: 3px;
            margin-bottom: 10px;
        }

        #grid2 {
            <!--
            border: 3px solid red; -->
            margin-top: 5px;
        }

        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background-color: #18bc9c;
        }

        #grid2 .grid-stack-item-content {
            background-color: grey;
        }

        #grid1 .grid-stack-item-content {
            background-color: grey;
        }

        #Wizard {
            position: fixed;
            min-height: 100%;
            max-width: 100%;
            left: 0;
            top: 0;
            z-index: 1;
            margin: auto;
            display: none;
            background-color: rgba(128, 128, 128, .5);
        }

        canvas {
            width: 80%;
            height: auto
        }
    </style>
}

<main class="main-content bgc-grey-100" id="dashboard-@Model.DashboardId">
    <div id="mainContent">
        <div id="Wizard" class="container">
            @{
                Html.RenderAction("_Wizard", "Dashboard");
            }
        </div>
        @foreach (var zone in Model.Zones)
        {
            <div class="p-10 mB-10 zone-@zone.ZoneId">
                <h4 class="bb-2">
                    <span class="title mR-15">@zone.Title</span>
                    <span class="edit-zone">
                        <i class="ti-pencil"></i>
                    </span>
                    <span class="arrow-dashboard">
                        <i class="ti-angle-up"></i>
                    </span>
                    <span class="delete-zone">
                        <i class="ti-trash"></i>
                    </span>
                </h4>
                <div class="DashZone">
                    <div class="grid-stack grid-stack-12" id="zone-@zone.ZoneId">
                    </div>
                </div>
            </div>
        }
        <div class="p-10 mB-10 add-zone">
            <h4 class="bb-2">
                <span class="title">Create New Zone</span>
                <span class="arrow-dashboard">
                    <i class="ti-angle-up"></i>
                </span>
            </h4>
            <div class="DashZone">
                <div class="grid-stack grid-stack-12" id="zone-x">
                </div>
            </div>
        </div>
    </div>
</main>

<!--   Dashboard   -->
<script src="~/Scripts/Dashboard/jquery-ui.js"></script>
<script src="~/Scripts/Dashboard/lodash.min.js"></script>

<script src="~/Scripts/Grid/gridstack.js"></script>
<script src="~/Scripts/Grid/gridstack.jQueryUI.js"></script>

@Scripts.Render("~/bundles/Dashboard")

<!--   Wizard   -->
<!--   Core JS Files   -->
<script src="~/Scripts/Wizard/bootstrap.min.js" defer></script>
<script src="~/Scripts/Wizard/jquery.bootstrap.js" defer></script>
<!--  Plugin for the Wizard -->
<script src="~/Scripts/Wizard/material-bootstrap-wizard.js" defer></script>
<script src="~/Scripts/Wizard/jquery.validate.min.js" defer></script>
<!--  Chartjs -->
<script src="~/Scripts/Charts/Chart.min.js"></script>

<script>
    $(document).ready(function () {
        var next = 1;
        $(".add-more").click(function (e) {
            e.preventDefault();
            var addto = "#field" + next;
            var addRemove = "#field" + (next);
            next = next + 1;
            var newIn = '<input autocomplete="off" class="input form-control" id="field' +
                next +
                '" name="field' +
                next +
                '" type="text">';
            var newInput = $(newIn);
            var removeBtn = '<button id="remove' +
                (next - 1) +
                '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
            var removeButton = $(removeBtn);
            $(addto).after(newInput);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source', $(addto).attr('data-source'));
            $("#count").val(next);

            $('.remove-me').click(function (e) {
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length - 1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
        });
    });
</script>