@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

    <link href="~/Content/Styling/grid2/gridstack.css" rel="stylesheet" />
    <link href="~/Content/Styling/grid2/gridstack-extra.css" rel="stylesheet" />
    <style type="text/css">

        #grid1 {
            <!-- border: 3px solid black; -->
            padding: 3px;
            margin-bottom: 10px;
        }

        #grid2 {
            <!-- border: 3px solid red; -->
            margin-top: 5px;
        }

        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background-color: #18bc9c;
        }

        #grid2 .grid-stack-item-content {
            background-color: grey;
        }

        #grid1 .grid-stack-item-content {
            background-color: grey;
        }
    </style>
}

<main class="main-content bgc-grey-100">
    <div id="mainContent">
        @foreach (var zone in Model.Zones)
        {
            <div class="p-10 mB-10">
                <h4 class="bb-2">@zone.Title<span class="arrow-dashboard"><i class="ti-angle-up"></i></span></h4>
                <div class="dashboard">
                    <div style="margin-bottom:5px" class="buttons">
                        <a class="btn btn-default save-grid" id="save-grid" href="#">Save Grid</a>
                        <a class="btn btn-default load-grid" id="load-grid" href="#">Load Grid</a>
                        <a class="btn btn-default clear-grid" id="clear-grid" href="#">Clear Grid</a>
                        <a class="btn btn-default add-element" id="add-element" href="#">Add Element</a>
                    </div>
                    <div class="grid-stack grid-stack-6" id="zone-@zone.ZoneId">
                    </div>
                </div>
            </div>
        }
    </div>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>

<script src="~/Scripts/grid2/gridstack.js"></script>
<script src="~/Scripts/grid2/gridstack.jQueryUI.js"></script>

<script type="text/javascript">
    //api call working
    var DashData = "";
    DashData = $.ajax({
        async: false,
        type: 'GET',
        dataType: 'json',
        url: "https://localhost:44342/api/dashboard/getdashboardzones/" + @Model.DashboardId
    }).responseJSON

    var ZoneData = [];

    for (i in DashData) {
        ZoneData.push($.ajax({
            async: false,
            type: 'GET',
            dataType: 'json',
            url: "https://localhost:44342/api/dashboard/getzoneelements/" + DashData[i].ZoneId
        }).responseJSON);
    }

    $(function () {
        var options = {
            width: 6,
            float: false,
            removable: '.trash',
            removeTimeout: 100,
            acceptWidgets: '.grid-stack-item'
        };
        $('.grid-stack').gridstack(options);

        new function () {

            var items1 = [{ "x": 0, "y": 3, "width": 5, "height": 5 }, { "x": 0, "y": 0, "width": 2, "height": 3 }];
            var items2 = [{ "x": 0, "y": 0, "width": 5, "height": 5 }, { "x": 0, "y": 1, "width": 5, "height": 5 }];

            this.grid1 = $('#grid1').data('gridstack');
            this.grid2 = $('#grid2').data('gridstack');

            findElements = function (id) {
                var ZoneData = $.ajax({
                    async: false,
                    type: 'GET',
                    dataType: 'json',
                    url: "https://localhost:44342/api/dashboard/getzoneelements/" + id
                }).responseJSON;

                console.log(ZoneData);

                return ZoneData;
            };

            addElement = function (grid) {
                var ZoneId = grid.attr('id');
                ZoneId = ZoneId.substring(ZoneId.indexOf('-') + 1, ZoneId.length);

                console.log(ZoneId);

                var Element = JSON.parse('{"Comparison" : "null", "X" : "0", "Y" : "0", "Width": "2", "Height": "2", "IsDraggble": "true"}');

                console.log(Element);

                $.ajax({
                    async: false,
                    type: 'POST',
                    data: Element,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: "https://localhost:44342/api/dashboard/postelement/" + ZoneId
                })
            }

            //done
            clearGrid = function (grid) {
                grid.removeAll();
                return false;
            }.bind(this);

            //almost done
            loadGrid = function (grid) {
                clearGrid(grid.data('gridstack'));
                var ZoneId = grid.attr('id');
                ZoneId = ZoneId.substring(ZoneId.indexOf('-') + 1, ZoneId.length);
                var elements = findElements(ZoneId);

                grid.each(function () {

                    var grid = $(this).data('gridstack');

                    //this for now(change later), Gets correct data from database
                    _.each(elements, function (node) {
                        grid.addWidget($('<div><div class="grid-stack-item-content bgc-white bd"/><div/>'),
                            node.X, node.Y, node.Width, node.Height);
                    }, this);
                });
            }

            this.saveGrid1 = function () {
                this.items1 = _.map($('#grid1 > .grid-stack-item:visible'), function (el) {
                    el = $(el);
                    var node = el.data('_gridstack_node');
                    return {
                        x: node.x,
                        y: node.y,
                        width: node.width,
                        height: node.height
                    };
                }, this);
                $('#saved-data-1').val(JSON.stringify(this.items1, null, '    '));
                return false;
            }.bind(this);

            this.saveGrid2 = function () {
                this.items2 = _.map($('#grid2 > .grid-stack-item:visible'), function (el) {
                    el = $(el);
                    var node = el.data('_gridstack_node');
                    return {
                        x: node.x,
                        y: node.y,
                        width: node.width,
                        height: node.height
                    };
                }, this);
                $('#saved-data-2').val(JSON.stringify(this.items2, null, '    '));
                return false;
            }.bind(this);

            $(".grid-stack").each(function () {
                this.grid = $(this).data('gridstack');

                //loading and adding graphs
                $(this).siblings('.buttons').children('.load-grid').on("click", function () {
                    this.grid = $(this).parent().siblings('.grid-stack').data('gridstack');
                    loadGrid($(this).parent().siblings('.grid-stack'));
                });

                //Clearing Zone/Grid done
                $(this).siblings('.buttons').children('.clear-grid').on("click", function () {
                    this.grid = $(this).parent().siblings('.grid-stack').data('gridstack');
                    clearGrid(this.grid);
                });

                $(this).siblings('.buttons').children('.save-grid').on("click", function () {
                    this.grid = $(this).parent().siblings('.grid-stack').data('gridstack');
                    saveGrid1()
                });

                $(this).siblings('.buttons').children('.add-element').on("click", function () {
                    addElement($(this).parent().siblings('.grid-stack'))
                });

                loadGrid($(this));
            });

            $('#save-grid').click(this.saveGrid1);
            $('#save-grid2').click(this.saveGrid2);
        };
    });
</script>

@Scripts.Render("~/bundles/DashboardControl")