<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="IntegratieDB_EFCodeFirst" connectionString="Data Source=.\SQLSERVER2016;Initial Catalog=IntegratieDB_EFCodeFirst;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- TOEVOEGEN connectionstring 'MultipleActiveResultSets=True' (for lazy-loading during AsEnumerable on parent-entities) -->
  </connectionStrings>
</configuration>