@{
  ViewBag.Title = "AdminCrud";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">

      @{
    Html.RenderAction("OrganisationPartialCreate", "Item");
      }

      @{
    Html.RenderAction("OrganisationPartialTable", "Item");
      }

      @{
    Html.RenderAction("ThemaPartialTable", "Item");
      }

    </div>
  </div>
</main>
