
@{
    ViewBag.Title = "AdminCrud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">
      @Html.Partial("OrganisationPartial")

      <br />

      @Html.Partial("ThemePartial")

    </div>
  </div>
</main>
