@model UI_MVC.Models.Items
@{
  ViewBag.Title = "AdminCrud";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">
      @Html.Partial("OrganisationPartialTable",Model.organisation)
    </div>
  </div>
</main>
