
@{
  ViewBag.Title = "charts";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
 
      <div class="row">
        <select style="width:200px;" id="graphtype" class="form-control" name="type">
          <option value="" disabled selected>Select your graph type</option>
          <option value="1">Bar Chart</option>
          <option value="2">Line Chart</option>
          <option value="3" disabled>Radar Chart</option>
          <option value="4" disabled>Pie Chart</option>
          <option value="5">Dougnout Chart</option>
         
        </select>
        <input id="itemid" class="form-control" style="width:200px" type="number" placeholder="vul itemid in" disabled />
        <button id="addGrafiek" class="btn btn-primary" type="submit">Add graph</button>
      </div>

    <p>Line graph gaat niets terug geven als je item id, de id is van een organisation</p>
    <br />
    <br />

    <div id="graphs">
   
    </div>
      
     
      @*<canvas id="pie-chart" width="800" height="450"></canvas>*@
    <canvas id="radar-chart" width="800" height="600"></canvas>
   
    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script defer>
  $("#graphtype").change(function () {
    var e = $("#graphtype");
    var keuze = e.prop('selectedIndex');
    if (keuze == 2 || keuze ==5) {
      document.getElementById("itemid").disabled = false;
    }
  });

  $("#addGrafiek").click(function () {
    var e = $("#graphtype");
    var keuze = e.prop('selectedIndex');

    if (keuze == 1) {
      $("#graphs").after("<div style=\"margin: 10px\" class=\"masonry-item col-md- 6\"> <div class=\"bgc-white p-20 bd\"> <h6 class=\"c-grey-900\">Bar chart</h6> <div class=\"mT-30\" id=\"graph-bar\"> </div></div></div>");

      $("#graph-bar").append("<canvas id=\"bar-chart\" height=\"220\"></canvas>");
      drawBarChart();
    } else if (keuze == 2) {
      $("#graphs").after("<div style=\"margin: 10px\" class=\"masonry-item col-md- 6\"> <div class=\"bgc-white p-20 bd\"> <h6 class=\"c-grey-900\">Line chart</h6> <div class=\"mT-30\" id=\"graph-bar\"> </div></div></div>");

      $("#graph-bar").append("<canvas id=\"line-chart\" height=\"220\"></canvas>");
      var index = $("#itemid").val();
      drawLineChart();
    } else if (keuze == 5) {
      $("#graphs").after("<div style=\"margin: 10px\" class=\"masonry-item col-md- 6\"> <div class=\"bgc-white p-20 bd\"> <h6 class=\"c-grey-900\">Line chart</h6> <div class=\"mT-30\" id=\"graph-bar\"> </div></div></div>");

      $("#graph-bar").append("<canvas id=\"doughnut-chart\" height=\"220\"></canvas>");
      var index = $("#itemid").val();
      donutPerson(index);
    }
    
  });

  function drawBarChart() {
   
    var tmp = "";
    tmp = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
        url: "https://localhost:44342/api/item/getpersonstop/5",
        headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }

    }).responseJSON

    var keys = [];
    keys = Object.keys(tmp);
    var label = [];
    var values = [];

    for (var i = 0; i < keys.length; i++) {
      label.push(keys[i]);
      values.push(tmp[keys[i]] / 10);
    }

    console.log(label);
    console.log(values);

    var can = $('#bar-chart');
    //can.attr('width', '300px');
    //can.attr('height', '300px');

    new Chart(can, {
      type: 'bar',
      data: {
        labels: label,
        datasets: [
          {
            label: "Aantal tweets",
            backgroundColor: "#673ab7",
            borderColor: "#4527a0",
            data: values
          }
        ]
      },
      options: {
        legend: { display: true },
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Top 5 politicians'
        }
      }
    });
  }


  function drawLineChart() {
    var persons = "";
    persons = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      url: "https://localhost:44342/api/item/GetMostPopularPersons",
      headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
    }).responseJSON



    var can = $('#line-chart');
    can.attr('style', 'width: 300px; height: 200px');
    //can.attr('height', '300px');

    var datagrafiek = {
      labels: ["Dag 1", "Dag 2","Dag 3","Dag 4","Dag 5","Dag 6","Dag 7","Dag 8","Dag 9","Dag 10"],
      datasets: []
    };

   // var labelslist; 
 
    var myLineChart = new Chart(can, {
      type: 'line',
      data: datagrafiek,
      options: {
        responsive: true,
        maintainAspectRatio:true
      }
      
    });


    var counter = 0 ;
    $.each(persons, function (key, value) {
      var tweet = "";
      tweet = $.ajax({
        async: false,
        type: 'GET',
        dataType: 'json',
        url: "https://localhost:44342/api/item/GetPersonEvolution/" + key,
        headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
      }).responseJSON
      
     
      var keys = [];
      keys = Object.keys(tweet);

      var label = [];
      var values = [];

      var backgroundcolors = ["rgba(237, 231, 246, 0.5)", "rgba(232, 245, 233, 0.5)","rgba(3, 169, 244, 0.5)"];
      var borderColors = ["#673ab7", "#2196f3", "#4caf50"]
      var points = ["#512da8", "#1976d2","#388e3c"];

      for (var i = 0; i < keys.length; i++) {
        label.push(keys[i]);
        values.push(tweet[keys[i]] / 10);
      }

      console.log(label);
      console.log(values);

   

      var myNewDataSet = {
        label: value,
        data: values,
        borderWidth: 2,
        backgroundColor: backgroundcolors[counter],
        borderColor: borderColors[counter],
        pointBackgroundColor: points[counter]

      }

      datagrafiek.datasets.push(myNewDataSet);

      myLineChart.update();
      counter++;
    });

    
  }

  function donutPerson(id) {

    var tmp = "";
    tmp = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      url: "https://localhost:44342/api/item/GetTrendingHashtagsCount/" + id,
      headers: { 'x-api-key': '303d22a4-402b-4d3c-b279-9e81c0480711' }
    }).responseJSON

    var keys = [];
    keys = Object.keys(tmp);
    var label = [];
    var values = [];

    for (var i = 0; i < keys.length; i++) {
      label.push(keys[i]);
      values.push(tmp[keys[i]] / 10);
    }

    var can = $('#doughnut-chart');
    console.log(can.parent().attr('Style', 'width: 500px; height: 500px'));
    //can.attr('Style', 'width: 300px; height: 300px');

  new Chart(can, {
    type: 'doughnut',
    data: {
      labels: label,
      datasets: [
        {
          label: "Hashtags",
          data: values,
          backgroundColor: ["#ff6384","#36a2eb","#cc65fe","#ffce56","#7DDF64","#7BDFF2","#FDE74C","#47E5BC","#DAD6D6","#EF3E36"]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
  });
  }




  ///REM///

  //new Chart(document.getElementById("pie-chart"), {
  //  type: 'pie',
  //  data: {
  //    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
  //    datasets: [{
  //      label: "Population (millions)",
  //      backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
  //      data: [2478, 5267, 734, 784, 433]
  //    }]
  //  },
  //  options: {
  //    title: {
  //      display: true,
  //      text: 'Predicted world population (millions) in 2050'
  //    }
  //  }
  //});

  function drawRadarChart() {
    new Chart(document.getElementById("radar-chart"), {
      type: 'radar',
      data: {
        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
        datasets: [
          {
            label: "1950",
            fill: true,
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            data: [8.77, 55.61, 21.69, 6.62, 6.82]
          }, {
            label: "2050",
            fill: true,
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            data: [25.48, 54.16, 7.61, 8.06, 4.45]
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Distribution in % of world population'
        }
      }
    });
  }
    
  drawRadarChart();


  //new Chart(document.getElementById("bubble-chart"), {
  //  type: 'bubble',
  //  data: {
  //    labels: "Africa",
  //    datasets: [
  //      {
  //        label: ["China"],
  //        backgroundColor: "rgba(255,221,50,0.2)",
  //        borderColor: "rgba(255,221,50,1)",
  //        data: [{
  //          x: 21269017,
  //          y: 5.245,
  //          r: 15
  //        }]
  //      }, {
  //        label: ["Denmark"],
  //        backgroundColor: "rgba(60,186,159,0.2)",
  //        borderColor: "rgba(60,186,159,1)",
  //        data: [{
  //          x: 258702,
  //          y: 7.526,
  //          r: 10
  //        }]
  //      }, {
  //        label: ["Germany"],
  //        backgroundColor: "rgba(0,0,0,0.2)",
  //        borderColor: "#000",
  //        data: [{
  //          x: 3979083,
  //          y: 6.994,
  //          r: 15
  //        }]
  //      }, {
  //        label: ["Japan"],
  //        backgroundColor: "rgba(193,46,12,0.2)",
  //        borderColor: "rgba(193,46,12,1)",
  //        data: [{
  //          x: 4931877,
  //          y: 5.921,
  //          r: 15
  //        }]
  //      }
  //    ]
  //  },
  //  options: {
  //    title: {
  //      display: true,
  //      text: 'Predicted world population (millions) in 2050'
  //    }, scales: {
  //      yAxes: [{
  //        scaleLabel: {
  //          display: true,
  //          labelString: "Happiness"
  //        }
  //      }],
  //      xAxes: [{
  //        scaleLabel: {
  //          display: true,
  //          labelString: "GDP (PPP)"
  //        }
  //      }]
  //    }
  //  }
  //});
</script>