
@{
  ViewBag.Title = "charts";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content bgc-grey-100">
  <div id="mainContent">
 
      <div class="row">
        <select style="width:200px;" id="graphtype" class="form-control" name="type">
          <option value="" disabled selected>Select your graph type</option>
          <option value="1">Bar Chart</option>
          <option value="2">Line Chart</option>
          <option value="3">Radar Chart</option>
          <option value="4" disabled>Pie Chart</option>
          <option value="5" disabled>Dougnout Chart</option>
        </select>
        <input id="itemid" class="form-control" style="width:200px" type="number" placeholder="vul itemid in" disabled />
        <button id="addGrafiek" class="btn btn-primary" type="submit">Add graph</button>
      </div>

    <p>Line graph gaat niets terug geven als je item id, de id is van een organisation</p>
    <br />
    <br />

    <div id="graphs">

    </div>
      
     
      @*<canvas id="pie-chart" width="800" height="450"></canvas>*@
    <canvas id="radar-chart" width="800" height="600"></canvas>
    @*<canvas id="doughnut-chart" width="800" height="450"></canvas>
    <canvas id="bubble-chart" width="800" height="800"></canvas>*@
    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script defer>
  $("#graphtype").change(function () {
    var e = $("#graphtype");
    var keuze = e.prop('selectedIndex');
    if (keuze == 2) {
      document.getElementById("itemid").disabled = false;
    }
  });

  $("#addGrafiek").click(function () {
    var e = $("#graphtype");
    var keuze = e.prop('selectedIndex');

    if (keuze == 1) {
      $("#graphs").after("<div style=\"margin: 10px\" class=\"masonry-item col-md- 6\"> <div class=\"bgc-white p-20 bd\"> <h6 class=\"c-grey-900\">Bar chart</h6> <div class=\"mT-30\" id=\"graph-bar\"> </div></div></div>");

      $("#graph-bar").append("<canvas id=\"bar-chart\" height=\"220\"></canvas>");
      drawBarChart();
    } else if (keuze == 2) {
      $("#graphs").after("<div style=\"margin: 10px\" class=\"masonry-item col-md- 6\"> <div class=\"bgc-white p-20 bd\"> <h6 class=\"c-grey-900\">Line chart</h6> <div class=\"mT-30\" id=\"graph-bar\"> </div></div></div>");
      
      $("#graph-bar").append("<canvas id=\"line-chart\" height=\"220\"></canvas>");
     var index = $("#itemid").val();
      drawLineChart(index)
    }
    
  });

  function drawBarChart() {
    let headers = {
      "x-api-key": "303d22a4-402b-4d3c-b279-9e81c0480711"
    }
    var tmp = "";
    tmp = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      Headers: headers,
      url: "https://localhost:44342/api/item/getpersonstop/5"
    }).responseJSON

    var keys = [];
    keys = Object.keys(tmp);
    var label = [];
    var values = [];

    for (var i = 0; i < keys.length; i++) {
      label.push(keys[i]);
      values.push(tmp[keys[i]] / 10);
    }

    console.log(label);
    console.log(values);

    var can = $('#bar-chart');
    //can.attr('width', '300px');
    //can.attr('height', '300px');

    new Chart(can, {
      type: 'bar',
      data: {
        labels: label,
        datasets: [
          {
            label: "Aantal tweets",
            backgroundColor: "#673ab7",
            borderColor: "#4527a0",
            data: values
          }
        ]
      },
      options: {
        legend: { display: true },
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Top 5 politicians'
        }
      }
    });
  }


  function drawLineChart(id) {
    let headers = {
      "x-api-key": "303d22a4-402b-4d3c-b279-9e81c0480711"
    }
    var tmp = "";
    tmp = $.ajax({
      async: false,
      type: 'GET',
      dataType: 'json',
      Header: headers,
      url: "https://localhost:44342/api/item/GetPersonEvolution/" + id
    }).responseJSON

    var keys = [];
    keys = Object.keys(tmp);
    var label = [];
    var values = [];

    for (var i = 0; i < keys.length; i++) {
      label.push(keys[i]);
      values.push(tmp[keys[i]] / 10);
    }

    console.log(label);
    console.log(values);

    var can = $('#line-chart');
    //can.attr('width', '300px');
    //can.attr('height', '300px');

    new Chart(can, {
      type: 'line',
      data: {
        labels: label,
        datasets: [
          {
            label: "Polarity",
            backgroundColor: "rgba(3, 169, 244, 0.5)",
            borderColor: "#0277bd",
            data: values
          }
        ]
      },
      options: {
        legend: { display: true },
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Politician evolution'
        }
      }
    });
  }

  ///REM///

  //new Chart(document.getElementById("pie-chart"), {
  //  type: 'pie',
  //  data: {
  //    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
  //    datasets: [{
  //      label: "Population (millions)",
  //      backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
  //      data: [2478, 5267, 734, 784, 433]
  //    }]
  //  },
  //  options: {
  //    title: {
  //      display: true,
  //      text: 'Predicted world population (millions) in 2050'
  //    }
  //  }
  //});

    new Chart(document.getElementById("radar-chart"), {
      type: 'radar',
      data: {
        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
        datasets: [
          {
            label: "1950",
            fill: true,
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            data: [8.77, 55.61, 21.69, 6.62, 6.82]
          }, {
            label: "2050",
            fill: true,
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(255,99,132,1)",
            pointBorderColor: "#fff",
            data: [25.48, 54.16, 7.61, 8.06, 4.45]
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Distribution in % of world population'
        }
      }
  });

  //new Chart(document.getElementById("doughnut-chart"), {
  //  type: 'doughnut',
  //  data: {
  //    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
  //    datasets: [
  //      {
  //        label: "Population (millions)",
  //        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
  //        data: [2478, 5267, 734, 784, 433]
  //      }
  //    ]
  //  },
  //  options: {
  //    title: {
  //      display: true,
  //      text: 'Predicted world population (millions) in 2050'
  //    }
  //  }
  //});


  //new Chart(document.getElementById("bubble-chart"), {
  //  type: 'bubble',
  //  data: {
  //    labels: "Africa",
  //    datasets: [
  //      {
  //        label: ["China"],
  //        backgroundColor: "rgba(255,221,50,0.2)",
  //        borderColor: "rgba(255,221,50,1)",
  //        data: [{
  //          x: 21269017,
  //          y: 5.245,
  //          r: 15
  //        }]
  //      }, {
  //        label: ["Denmark"],
  //        backgroundColor: "rgba(60,186,159,0.2)",
  //        borderColor: "rgba(60,186,159,1)",
  //        data: [{
  //          x: 258702,
  //          y: 7.526,
  //          r: 10
  //        }]
  //      }, {
  //        label: ["Germany"],
  //        backgroundColor: "rgba(0,0,0,0.2)",
  //        borderColor: "#000",
  //        data: [{
  //          x: 3979083,
  //          y: 6.994,
  //          r: 15
  //        }]
  //      }, {
  //        label: ["Japan"],
  //        backgroundColor: "rgba(193,46,12,0.2)",
  //        borderColor: "rgba(193,46,12,1)",
  //        data: [{
  //          x: 4931877,
  //          y: 5.921,
  //          r: 15
  //        }]
  //      }
  //    ]
  //  },
  //  options: {
  //    title: {
  //      display: true,
  //      text: 'Predicted world population (millions) in 2050'
  //    }, scales: {
  //      yAxes: [{
  //        scaleLabel: {
  //          display: true,
  //          labelString: "Happiness"
  //        }
  //      }],
  //      xAxes: [{
  //        scaleLabel: {
  //          display: true,
  //          labelString: "GDP (PPP)"
  //        }
  //      }]
  //    }
  //  }
  //});
</script>