@*@model PB.BL.Domain.Accounts.UserSetting*@
<div class="row">
  <div style="margin: 10px 0; padding:0;" class="masonry-item col-md-6">
    <div class="bgc-white p-20 bd">
      <h3 class="h3">Notification settings</h3>
      <br />
      <div class="form-group row">
        <div class="col-sm-3">
          <label>Notification on/off</label>
        </div>
        <div class="col-sm-7">
          <input name="changename" class="form-control" type="checkbox" />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label>Mail Notification on/off</label>
        </div>
        <div class="col-sm-7">
          <input name="changename" class="form-control" type="checkbox" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label>Android Notification on/off</label>
        </div>
        <div class="col-sm-7">
          <input name="changename" class="form-control" type="checkbox" />
        </div>
      </div>
    </div>
  </div>
</div>