ol {
  padding-top: 60px;
  list-style-type: none;
  text-align: center;
}

#backgroundfaq {
  background-image: url('../Images/faqbg.jpg');
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

li {
  display: block;
  align-self: center;
}

.show, .collapsing {
  margin-right: 5%;
  margin-bottom: 1%;
}